<h2 mat-dialog-title>{{ 'Home.AddAsset.DialogTitle' | translate }}</h2>
<mat-dialog-content>

  <app-asset-form (valueChange)="updateFormValues($event)" (valid)="updateValidity($event)" (submitted)="submitAddAssetForm()"></app-asset-form>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>{{ 'Shared.Cancel' | translate }}</button>
  <button mat-flat-button color="primary" (click)="submitAddAssetForm()" [disabled]="!isFormValid">
    {{ 'Shared.AddItem' | translate }}
  </button>
</mat-dialog-actions>