@use '@angular/material' as mat;

@import 'assets/scss/style.scss';

$theme-primary: (
  50:  color("primary", 0deg, 25%),
  100: color("primary", 0deg, 20%),
  200: color("primary", 0deg, 15%),
  300: color("primary", 0deg, 10%),
  400: color("primary", 0deg, 5%),
  500: color("primary"),
  600: color("primary", 0deg, -5%),
  700: color("primary", 0deg, -10%),
  800: color("primary", 0deg, -15%),
  900: color("primary", 0deg, -20),

  contrast : (
    50:  color("primary-text"),
    100: color("primary-text"),
    200: color("primary-text"),
    300: color("primary-text"),
    400: color("primary-text"),
    500: color("primary-text"),
    600: color("primary-text"),
    700: color("primary-text"),
    800: color("primary-text"),
    900: color("primary-text"),
  )
);
$theme-primary: mat.define-palette($theme-primary);

$theme-accent: (
  50:  color("secondary", 0deg, 25%),
  100: color("secondary", 0deg, 20%),
  200: color("secondary", 0deg, 15%),
  300: color("secondary", 0deg, 10%),
  400: color("secondary", 0deg, 5%),
  500: color("secondary"),
  600: color("secondary", 0deg, -5%),
  700: color("secondary", 0deg, -10%),
  800: color("secondary", 0deg, -15%),
  900: color("secondary", 0deg, -20),

  contrast : (
    50:  color("secondary-text"),
    100: color("secondary-text"),
    200: color("secondary-text"),
    300: color("secondary-text"),
    400: color("secondary-text"),
    500: color("secondary-text"),
    600: color("secondary-text"),
    700: color("secondary-text"),
    800: color("secondary-text"),
    900: color("secondary-text"),
  )
);
$theme-accent: mat.define-palette($theme-accent);

$theme-warn: (
  50: color("danger"),
  100: color("danger"),
  200: color("danger"),
  300: color("danger"),
  400: color("danger"),
  500: color("danger"),
  600: color("danger"),
  700: color("danger"),
  800: color("danger"),
  900: color("danger"),
  contrast : (
    50: color("danger-text"),
    100: color("danger-text"),
    200: color("danger-text"),
    300: color("danger-text"),
    400: color("danger-text"),
    500: color("danger-text"),
    600: color("danger-text"),
    700: color("danger-text"),
    800: color("danger-text"),
    900: color("danger-text"),
  )
);
$theme-warn: mat.define-palette($theme-warn);


$light-text: color("bg-text");
$light-primary-text: $light-text;
$light-accent-text: color("bg-text", 0deg, 0, 0, 0.7);
$light-disabled-text: color("disabled-text");
$light-dividers: color("bg-divider");
$light-focused: color("bg-divider");

$mat-dark-theme-foreground: (
  base: $light-text,
  divider: $light-dividers,
  dividers: $light-dividers,
  disabled: $light-disabled-text,
  disabled-button: color("disabled-text"),
  disabled-text: $light-disabled-text,
  elevation: black,
  hint-text: $light-disabled-text,
  secondary-text: $light-accent-text,
  accent-text: $light-accent-text,
  icon: $light-text,
  icons: $light-text,
  text: $light-text,
  slider-min: $light-text, 
  slider-off: color("bg-text", 0deg, 0, 0, 0.3),
  slider-off-active: color("bg-text", 0, 0, 0, 0.3),
);

// Dark bg
$dark-background: color("bg");
$dark-bg-lighter-5: color("bg", 0deg, 5%);
$dark-bg-lighter-10: color("bg", 0deg, 10%);
$dark-bg-lighter-20: color("bg", 0deg, 20%);
$dark-bg-lighter-30: color("bg", 0deg, 30%);
$light-bg-alpha-4: rgba(#fafafa, 0.04);
$light-bg-alpha-12: color("disabled");

$mat-dark-theme-background: (
  background: $dark-background,
  status-bar: $dark-bg-lighter-20,
  app-bar: $dark-bg-lighter-5,
  hover: $light-bg-alpha-4,
  card: $dark-bg-lighter-5,
  dialog: color("bg"),
  tooltip: $dark-bg-lighter-20,
  disabled-button: $light-bg-alpha-12,
  raised-button: $dark-bg-lighter-5,
  focused-button: #fff,
  selected-button: $dark-bg-lighter-20,
  selected-disabled-button: $dark-bg-lighter-30,
  disabled-button-toggle: $dark-bg-lighter-10,
  unselected-chip: $dark-bg-lighter-20,
  disabled-list-option: $dark-bg-lighter-10,
);



$theme: (
  primary: $theme-primary,
  accent: $theme-accent,
  warn: $theme-warn,
  is-dark: true,
  foreground: $mat-dark-theme-foreground,
  background: $mat-dark-theme-background
);


@include mat.core();
@include mat.all-component-themes($theme);