.c-header {
  width: 100%;
  color: color("header-text");
  background-color: color("header-bg");
  display: flex;
  justify-content: center;
  box-shadow: var(--box-shadow-header);

  &, &__intro, &__top-ribbon {
    position: relative;
  }

  &__top-ribbon {
    display: flex;
    padding: var(--gap-sm) var(--gutter-header-content);
    justify-content: space-between;
    max-width: calc(var(--width-header-content) + var(--gutter-header-content) * 2);
    width: 100%;

    position: relative;

    > * {
      align-self: center;
    }

    @include screen('sm') {
      .c-hamburger {
        z-index: 2;
      }
    }
    @include screen('sm', min) {
      .c-hamburger {
        display: none;
      }
    }
  }

  &__profile {
    cursor: pointer;
    height: 2.8rem;
    aspect-ratio: 1 / 1;
    background: none;
    border: none;
    padding: 0;

    > img {
      border-radius: 50%;
      height: 100%;
    }
  }

  &__intro {
    max-width: var(--main-width);
    width: 100%;
    justify-self: center;

    display: grid;
    align-items: center;
    margin: 0 var(--gap-md);
  }

  &__logo {
    font-size: 1.3em;
    color: inherit;
    text-decoration: none;
  }

  &__nav {
    display: flex;
    align-items: center;
    gap: var(--gap-md);

    ul {
      display: flex;
      align-items: center;
    }
  }
}