.c-header {
  width: 100%;
  color: color("header-text");
  background-color: color("header-bg");
  display: flex;
  justify-content: center;
  box-shadow: var(--box-shadow-header);

  &, &__intro, &__top-ribbon {
    position: relative;
  }

  &__top-ribbon {
    display: flex;
    padding: var(--gap-sm) var(--gutter-header-content);
    justify-content: space-between;
    max-width: calc(var(--width-header-content) + var(--gutter-header-content) * 2);
    width: 100%;

    position: relative;

    > * {
      align-self: center;
    }

    @include screen('sm') {
      .c-hamburger {
        z-index: 2;
      }
    }
    @include screen('sm', min) {
      .c-hamburger {
        display: none;
      }
    }
  }

  &__profile {
    cursor: pointer;
    height: 2.8rem;
    aspect-ratio: 1 / 1;
    background: none;
    border: none;
    padding: 0;

    > img {
      border-radius: 50%;
      height: 100%;
    }
  }

  &__intro {
    max-width: var(--main-width);
    width: 100%;
    justify-self: center;

    display: grid;
    align-items: center;
    margin: 0 var(--gap-md);
  }

  &__logo {
    font-size: 1.3em;
    color: inherit;
    text-decoration: none;
  }

  &__nav {
    display: flex;
    align-items: center;
    gap: var(--gap-md);

    ul {
      display: flex;
    }

    a {
      &:focus {
        outline: none;
      }

      &.is-active {
        color: color("secondary", 0deg, -5%);
      }

      text-decoration: none;
      display: inline-flex;
      align-items: center;
      gap: .5rem;
      color: color("header-text");
      padding: 0.6rem 1.2rem;
      position: relative;
      border-radius: 5px;

      &:hover, :focus, :active {
        background-color: rgba(0, 0, 0, .1);
      }
    }

    // When the screen is small enough, move all the content off screen and style this
    // to look like a side panel.
    @include screen('sm') {
      z-index: 2;
      position: fixed;
      background: color("bg-accent");
      top: 0;
      left: 0;
      bottom: 0;
      padding: 2rem;
      flex-direction: column-reverse;
      justify-content: start;
      align-items: start;
      min-width: 13rem;
      box-shadow: var(--box-shadow-main);

      // More than 100% to hide the box shadow.
      transform: translateX(-120%);

      // Define the animation when opening and closing.
      transition: transform ease-in-out .3s;

      > ul {
        flex-direction: column;
      }

      &.is-open {
        transform: translateX(0);
      }
    }
  }

  // Translucent overlay that shows when the side menu is open.
  &__overlay {
    @include screen('sm', min) {
      display: none;
    }

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: color("bg");
    transition: opacity .3s,transform .3s .3s;
    transform: translateY(-100%);
    opacity: 0;
    z-index: 1;

    &.is-open {
      transition: opacity .3s;
      opacity: .8;
      transform: none;      
    }
  }
}