:root {
  // Colours
  @include define-color("primary", #246bb8);
  @include define-color("primary-text", #F4F3F3);
  @include define-color("primary-subtext", #d5e7ff);

  @include define-color("secondary", #6466bd);
  @include define-color("secondary-text", #F4F3F3);
  @include define-color("secondary-subtext", #d5e7ff);

  @include define-color("bg", #151a24);  
  @include define-color("bg-accent", #1b212e);
  @include define-color("bg-text", #F4F3F3);
  @include define-color("bg-subtext", #A0ADBB);
  @include define-color("bg-divider", #2e333e);

  @include define-color("focus", #3473d4);

  @include define-color("success", #29c557);
  @include define-color("success-text", #fff);

  @include define-color("warning", #e6873a);
  @include define-color("warning-text", #fff);

  @include define-color("danger", #d34040);
  @include define-color("danger-text", #fff);
    
  @include define-color("disabled", #35383d);
  @include define-color("disabled-text", #c6c6c6);



  // Spacing
  --gap-xs: .4rem;
  --gap-sm: .8rem;
  --gap-md: 1.4rem;
  --gap-lg: 3rem;
  --gap-xl: 6rem;

  --page-gutter: var(--gap-md);
  --main-width: 800px;


  // Typography
  --font-size-base: 16px;
  --font-size-body: 100%;

  --font-size-title: 3rem;
  --font-size-h1: 2.3rem;
  --font-size-h2: 1.8rem;
  --font-size-h3: 1.5rem;
  --font-size-h4: 1.2rem;

  --line-height-base: 1.4;
  
  --font-size-text: 1rem;
  --font-size-subtext: .875rem;

  --font-family-primary: 'Poppins', sans-serif;
  --font-family-secondary: var(--font-family-primary);

  @include define-font("body", var(--font-size-body), 400, var(--font-family-primary), var(--line-height-base));


  
  // Effects
  --box-shadow-main: 0 3px 6px rgba(0,0,0,0.23);

  --transition-delay: 0.3s;
  --transition-main: all var(--transition-delay) cubic-bezier(.25,.8,.25,1);

  --border-radius-primary: 1rem;
  --border-radius-secondary: calc(var(--border-radius-primary) * .7);


  // Header 
  --color-header-bg: color("bg");
  --color-header-text: color("bg-text");

  --box-shadow-header: none;
  --gutter-header-content: var(--page-gutter);
  --width-header-content: var(--main-width);
}