h1 {
  margin-top: var(--gap-lg);
  margin-bottom: var(--gap-sm);

  font-size: var(--font-size-h4);
  font-weight: 600;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

