<h1>My Assets</h1>

<div class="c-card c-asset-card" *ngFor="let asset of assets; trackBy: trackByFn">
  <h2 class="c-asset-card__title">{{ asset.name }}</h2>

  <div class="c-asset-card__info">
    <dl class="c-info-list">
      <dt class="c-info-list__title">Current Value</dt>
      <dd class="c-info-list__content">
        <app-currency [value]="asset.priceUsd"></app-currency>
      </dd>
    </dl>

    <!-- <dl class="c-info-list">
      <dt class="c-info-list__title">Change</dt>
      <dd class="c-info-list__content">
        <app-currency [value]="asset.paidUsd - "></app-currency>
      </dd>
    </dl> -->
  </div>
</div>