<h2 mat-dialog-title>Settings</h2>
<mat-dialog-content>

  <div class="c-settings">
    <div class="c-settings__item">
      <div class="c-settings__item__title">
        <h3>{{ 'Settings.CurrencyLabel' | translate }}</h3>
        <p class="s-paragraph">{{ 'Settings.CurrencyDescription' | translate }}</p>
      </div>
      <div class="c-settings__item__content">
        <mat-form-field appearance="outline">
          <mat-label>{{ 'Settings.CurrencyLabel' | translate }}</mat-label>
          <mat-select cdkFocusInitial [formControl]="currencyCtrl" #currencySelect (selectionChange)="setCurrency($event)">
            <mat-option>
              <ngx-mat-select-search 
                [formControl]="currencyFilterCtrl"
                [placeholderLabel]="'Shared.Search' | translate"
                [noEntriesFoundLabel]="'Settings.SearchCurrenciesNoneFound' | translate">
              </ngx-mat-select-search>
            </mat-option>

            <mat-option *ngFor="let currency of filteredFiatCurrencies | async" [value]="currency.symbol">
              {{ currency.symbol }}

              <ng-container *ngIf="currency.currencySymbol && currency.currencySymbol.length">
                ({{ currency.currencySymbol }})
              </ng-container>
            </mat-option>
          </mat-select>
        </mat-form-field>        
      </div>
    </div>

    <div class="c-settings__item">
      <div class="c-settings__item__title">
        <h3>{{ 'Settings.ThemeLabel' | translate }}</h3>
        <p class="s-paragraph">{{ 'Settings.ThemeDescription' | translate }}</p>
      </div>
      <div class="c-settings__item__content">
        <mat-form-field appearance="outline" *ngIf="settings">
          <mat-label>{{ 'Settings.ThemeLabel' | translate }}</mat-label>
          <mat-select [value]="settings.themeId" (selectionChange)="setTheme($event)">
            <mat-option *ngFor="let theme of themes" [value]="theme.id" >{{ theme.name }}</mat-option>
          </mat-select>
        </mat-form-field> 
      </div>
    </div>

    <div class="c-settings__item">
      <div class="c-settings__item__title">
        <h3>{{ 'Settings.UiScaleLabel' | translate }}</h3>
        <p class="s-paragraph">{{ 'Settings.UiScaleDescription' | translate }}</p>
      </div>
      <div class="c-settings__item__content">
  
        <mat-form-field appearance="outline" *ngIf="settings">
          <mat-label>{{ 'Settings.UiScaleLabel' | translate }}</mat-label>
          <mat-select [value]="settings.uiScaleId" (selectionChange)="setUiScale($event)">
            <mat-option *ngFor="let scale of uiScales" [value]="scale.id">{{ scale.scale | percent }}</mat-option>
          </mat-select>
        </mat-form-field>        
  
      </div>
    </div>  
  </div>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>{{ 'Shared.Cancel' | translate }}</button>
  <button mat-flat-button color="primary" [mat-dialog-close]="true">{{ 'Shared.Done' | translate }}</button>
</mat-dialog-actions>
